body {
  //background-color: rgb(39, 37, 37);

  background: linear-gradient(to bottom right, #000000, #434343);
  background-size: cover;
  background-attachment: fixed;
  color: white; /* Ensure text is readable on dark background */
  min-height: 100vh; /* Ensure the body covers the full viewport height */
}

nav {
  background: linear-gradient(135deg, #000000, #262626);
  background-size: cover;
  color: rgb(25, 205, 205);
}
